* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #F5F5F5;
  
  }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  height: 100%;
}

h1
{
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 20px;
  }

p {
  color:black;
  font-family: 'Bungee', cursive;
}


.grid {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
  background-color: white;
}

.notwalls {
  
  
}

div {
display: flex;
justify-content: center;
width: 15px;
}

.aboveGrid {
  justify-content: space-between;
  margin-bottom: 5px;
  height: 30px;
  width: 290px;
}

button {
  color:black;
  font-family: 'Bungee', cursive;
  background-color: white;
  border: 5px solid black;
  align-content: center;
}


.startButton {
  width: 50%;
  margin-right: 3px;
  
}

.resetButton {
  width: 50%;

}

.controls{
width: 300px;
justify-content: space-between;
}

.controlButton {
  width: 70px;
  height: 65px;
  margin-top: 5px;
}

.walls {
  background-color: black;
  border: 1px solid black; 
 
}

.finalScore {
  font-size: 30px;
  color: blueviolet;
  font-family: 'Bungee', cursive;
  width: 200px;
  margin-top: 20px;
  text-align: center;
}

.winner {
  height: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.food1 {
  background: url('images/food.png');
  background-size: cover;
  }


.pacman {
  background-color:  yellow;
  font-size: 10px;
  border: 2px solid white;
  background: url('images/roshan.png');
  background-size: cover;
}

.greenGhost {
  background-color: green;
  border: 1px solid white;
  background: url('images/greenghost.png');
  background-size: cover;
}

.orangeGhost {
  background-color: orange;
  border: 1px solid white;
  background: url('images/orangeghost.png');
  background-size: cover;
}

.blueGhost {
  background-color: blue;
  border: 1px solid white;
  background: url('images/blueghost.png');
  background-size: cover;
}

.pinkGhost {
  background-color: pink;
  border: 1px solid white;
  background: url('images/pinkghost.png');
  background-size: cover;
}

div.greyGhost {
  
  border: 1px solid white;
  background: url('images/greyghost.png');
  background-size: cover;
}

/* .moveAlongPink {
  
}

.moveAlongGreen {
  
}

.moveAlongBlue {
 
}

.moveAlongOrange {

} */


.score {
  color:black;
  font-family: 'Bungee', cursive;
  
}

.begin {
  width: 160px;
}

.roshman{
  background-image: url('images/roshman-loser.png');
  background-size: cover;
  width: 100px;
  height: 120px;
}

.roshmanwins {
  background-image: url('images/roshman-winner.png');
  background-size: cover;
  width: 100px;
  height: 120px; 
}

.life {
  color:black;
  font-family: 'Bungee', cursive;
  font-size: 15px;
}
.lowerbar {
  color:black;
  font-family: 'Bungee', cursive;
  display: flex;
  flex-direction: column;
  margin: 6px 0px;
  font-size: 15px;
}


.energy {
  /* background-color: blueviolet; */
  border-radius: 50%;
  border: 2px solid white;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    background-color:blueviolet;
  }
  55% {
    background-color:yellow;
  }
  95% {
    background-color: blueviolet;
  }
}

@media only screen and (min-width: 800px){

  .controls {
    visibility: hidden;
  }


  main {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  .grid {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
  }

  h1
{
    font-family: 'Bungee Shade', cursive;
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .aboveGrid{
    margin-top: 15px;
    width: 550px;
  }

 
  .hidegrid {
    background-color: aqua;
    visibility: hidden;
  }

  .begin {
    width: 250px;
  }
  

  .finalScore {
    font-size: 50px;
    color: blueviolet;
    font-family: 'Bungee', cursive;
    width: 400px;
  }
}

